<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="defaultPushSource" value="https://msblox-03.pkgs.visualstudio.com/_packaging/typeedge-feed/nuget/v3/index.json" />
    </config>
  <packageSources>
    <add key="typeedge-feed" value="https://msblox-03.pkgs.visualstudio.com/_packaging/typeedge-feed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
   
  </packageSourceCredentials>
</configuration>