<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="defaultPushSource" value="https://msblox-03.pkgs.visualstudio.com/_packaging/private-nuget-feed/nuget/v3/index.json" />
    </config>
  <packageSources>
    <add key="private-typeedge-feed" value="https://msblox-03.pkgs.visualstudio.com/_packaging/private-nuget-feed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <private-typeedge-feed>
      <add key="Username" value="spyrosg" />
      <add key="ClearTextPassword" value="123asd!@#" />
    </private-typeedge-feed>
  </packageSourceCredentials>
</configuration>